* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #212529;
}

/* Navigation Section */
.navigation-section {
  padding: 30px 0;
  background-color: #fff;
  margin-bottom: 144px;
  /* box-shadow: 0px 1px 30px #000; */
}

/* Header Section */
.header-section {
  display: flex;
  gap: 56px;
  margin-bottom: 160px;
  max-width: 1100px;
  min-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header-information {
  width: auto;
}

.header-text {
  font-size: 16px;
  margin-bottom: 40px;
}

.booking-action {
  display: inline-flex;
  gap: 12px;
  flex-direction: column;
  margin-bottom: 16px;
}

.book-now:link,
.book-now:visited {
  padding: 16px 24px;
  background-color: #2b8a3e;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 500px;
}

.book-now:hover,
.book-now:active {
  padding: 16px 24px;
  background-color: #226c30;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 500px;
}

.explore-neighborhood:link,
.explore-neighborhood:visited {
  padding: 16px 24px;
  background-color: #b2f2bb;
  color: #2b8a3e;
  text-decoration: none;
  text-align: center;
  border-radius: 500px;
}

.explore-neighborhood:hover,
.explore-neighborhood:active {
  padding: 16px 24px;
  background-color: #8ce99a;
  color: #226c30;
  text-decoration: none;
  text-align: center;
  border-radius: 500px;
}

.location-icon {
  width: 15px;
  height: auto;
}

.location-information {
  font-size: 12px;
  display: flex;
  gap: 10px;
}

.header-image {
  width: 600px;
  height: auto;
  border-radius: 12px;
}

h1 {
  font-size: 54px;
  letter-spacing: -0.5px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 32px;
}

/* Media Section */
.media-section {
  background-color: antiquewhite;
  height: 200px;
}
